<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/estilosgeneral.css">
  <link rel="stylesheet" href="../css/styleproveedores.css">
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  </style>



  <title>Proveedores</title>
</head>
{{> header title="Proveedores"}}
<!--NAVBAR-->


<body onload="editarProveedor()" class="bodybg">


  <div class="container"> <!--Contenedor Padre-->


    <form class="formularioInt">
      <!--Contenedor Hijo (AQUÍ ESTÁ NETAMENTE EL FORMULARIO)-->

      <h1 class="textoh1">Registrar Proveedor</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3 form-group">
            <label for="nombreProveedor" class="form-label fontTtitle">Nombre del Proveedor<span class="text-danger">*
              </span></label>
              <small id="nombreHelp" ><br></small>
            <input type="text" class="form-control btnInput" name="nombreProveedor" id="nombreProveedor"
              oninput="validarNombreProveedor()">
              <small id="nombreHelp"></small>
            <div id="mensajeError" class="mensajeError"></div>
          </div>

          <div class="mb-4 form-group">
            <label for="nit" class="form-label fontTtitle">Nit<span class="text-danger">*
              </span></label>

            <input type="text" class="form-control btnInput" name="nit" id="nit" oninput="validarNIT()">
            <small id="NitHelp" ></small>
            <div id="mensajeErrorNit" class="mensajeError"></div>
          </div>

          <div class="mb-4 form-group">
            <label for="direccion" class="form-label fontTtitle">Dirección<span class="text-danger">*
              </span></label>
            <input type="text" class="form-control btnInput" name="direccion" id="direccion"
              oninput="validarDireccion()">
              <small id="DireccionHelp" ></small>
            <div id="mensajeErrorDireccion" class="mensajeError"></div>
          </div>


        </div>



        <div class="col-md-6">
          <div class="mb-3 form-group">
            <label for="correo" class="form-label fontTtitle">Correo<span class="text-danger">*
              </span></label>
            <input type="text" class="form-control btnInput" name="correo" id="correo" oninput="validarCorreo()">
              <small id="CorreoHelp"></small>
            <div id="mensajeErrorCorreo" class="mensajeError"></div>
          </div>

          <div class="mb-4 form-group">
            <label for="nombreContacto" class="form-label fontTtitle">Nombre Del Contacto<span
                class="text-danger">*</span></label>
            <input type="txt" class="form-control btnInput" name="nombreContacto" id="nombreContacto"
              oninput="validarNombreContacto()">
                <small id="NombreContactoHelp" ></small>
            <div id="mensajeErrorcontacto" class="mensajeError"></div>
          </div>

          <div class="mb-4 form-group">
            <label for="numeroContacto" class="form-label fontTtitle">Numero Del Contacto<span
                class="text-danger">*</span></label>
            <input type="text" class="form-control btnInput" name="numeroContacto" id="numeroContacto"
              oninput="validarNumeroContacto()">
              <small id="NumerocontactoHelp" ></small>

            <div id="mensajeErrorTelefono" class="mensajeError"></div>
          </div>







        </div>


      </div>


      <button type="button" class="btn btnGuardar" id="btnRegistrar" onclick="validarFormulario()">Guardar</button>
      <button type="button" class="btn btnCancelar" data-bs-toggle="modal" >Cancelar</button>
      <button type="button" class="btn btnActualizar" style="display: none;" id="btnActualizar">Actualizar</button>
      <!--modal para asegurarse de guardar-->
     


  <div class="search">

    <form class="d-flex" role="search">
      <input class="form-control me-2 campo-search" type="search" placeholder="Buscar" aria-label="Search">
      <!-- Para modificar el tamaño del logo icono ".icono-search"  y para modificar la orientacion de este ".boton-search" -->
      <button class="btn btn-outline-secondary boton-search" type="submit"><img src="../img/search.ico" alt="search"
          class="icono-search"></button>
    </form>


  </div>
  <!--LISTADOS-->

  <div class="containerListar" >

    <div class="container2">

      <h2 class="textoh1 mt-3">Listado Provedores</h2>


      <!-- <hr class="lineaHorizontal"> -->

      <table class="table table-orientacion" id="tablaProveedores">
        <thead>
          <tr>

            <td scope="col" class="camposListar">Nombre Proveedor</td>
            <td scope="col" class="camposListar">Nit</td>
            <td scope="col" class="camposListar">Direccion</td>
            <td scope="col" class="camposListar">Correo</td>
            <td scope="col" class="camposListar">Estado</td>
            <td scope="col" class="text-center camposListar">operaciones</td>

          </tr>
        </thead>
        <tbody id="contenido">
          <tr>
            <!-- Modal de éxito -->







            </td>
            <!--FIN BOTONES DE OPERACION-->
           

          </tr>




          <!--BOTONES DE OPERACION-->







          <!--modal para el cambio de estado del switch-->

        






          <!--FIN BOTONES DE OPERACION-->

          </tr>

        </tbody>
      </table>
      <nav aria-label="Page navigation example" class="pag">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
  {{> footer }}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../js/validacionesproveedores.js"></script>
  <script src="../backend/funciones.js"></script>

</body>


</html>